
.todo-container{
    max-width: 767px;
    margin: auto;
    height: 100%;
    background-color: #F2F3F4;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media screen and (min-width : 1024px) {
    .todo-container{
        margin-top:30px;
    }
}